@keyframes descer {
  from {
    top: -200px;
  }

  to {
    top: 0;
  }
}

.teste {
  width: 275px;
  height: 75px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  transition: transform 0.7s ease-in-out;
}

.moon {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: rgb(233, 233, 233);
  box-shadow: 0 0 60px 25px rgb(236, 236, 236), 0 0 25px 10px;
  border-radius: 100%;
  animation: descer 3s ease-in-out forwards;
}

.moon::before {
  content: "";
  position: absolute;
  top: 120px;
  left: 135px;
  width: 40px;
  height: 40px;
  transform: rotate(145deg);
  background: rgb(216, 216, 216);
  border-radius: 50%;
  box-shadow: 50px 0 0 0px rgb(216, 216, 216);
}

.moon-top {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  top: -100px;
}
