.base {
  width: 275px;
  height: 75px;
  position: fixed;
  transition: transform 0.7s ease-in-out;
}

.cloud-type-1 {
  position: relative;
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 100px;
}

.cloud-type-1::before {
  content: "";
  position: absolute;
  top: -50px;
  left: 40px;
  width: 110px;
  height: 100px;
  background: white;
  border-radius: 50%;
  box-shadow: 90px 0 0 0px white;
}

.cloud-type-2 {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgb(233, 233, 233);
  border-radius: 100px;
}

.cloud-type-2::before {
  content: "";
  position: absolute;
  top: -50px;
  left: 40px;
  width: 110px;
  height: 100px;
  background: rgb(233, 233, 233);
  border-radius: 50%;
  box-shadow: 90px 0 0 0px rgb(233, 233, 233);
}

.cloud-top-one {
  top: 200px;
  left: 400px;
}

.cloud-top-two {
  top: 300px;
  right: 450px;
}

.cloud-bottom-three {
  bottom: 125px;
  left: 100px;
}

.cloud-bottom-four {
  bottom: 100px;
  right: 200px;
}

/* large =============================================================== */
@keyframes moveOne {
  from {
    transform: translateX(-100%) scale(3);
  }

  to {
    transform: translateX(-1000%) scale(7);
  }
}

@keyframes moveTwo {
  from {
    transform: translateX(100%) scale(4);
  }

  to {
    transform: translateX(1000%) scale(8.5);
  }
}

@keyframes moveThree {
  from {
    transform: translateX(0%) scale(4.75);
  }

  to {
    transform: translateX(-1000%) scale(8.5);
  }
}

@keyframes moveFour {
  from {
    transform: translateX(0%) scale(6);
  }

  to {
    transform: translateX(1000%) scale(9);
  }
}

.cloud-top-one {
  animation: moveOne 11.5s forwards, opacity 20s forwards;
}

.cloud-top-two {
  animation: moveTwo 10.5s forwards, opacity 20s forwards;
}

.cloud-bottom-three {
  animation: moveThree 9s forwards, opacity 20s forwards;
}

.cloud-bottom-four {
  animation: moveFour 10s forwards, opacity 20s forwards;
}

/* Small =============================================================== */
@media (max-width: 640px) {
  @keyframes moveOne {
    from {
      transform: translateX(50%) scale(1.5);
    }

    to {
      transform: translateX(-500%) scale(3);
    }
  }

  @keyframes moveTwo {
    from {
      transform: translateX(-100%) scale(2);
    }

    to {
      transform: translateX(500%) scale(4);
    }
  }

  @keyframes moveThree {
    from {
      transform: translateX(-100%) scale(3.75);
    }

    to {
      transform: translateX(-500%) scale(4.5);
    }
  }

  @keyframes moveFour {
    from {
      transform: translateX(-100%) scale(4);
    }

    to {
      transform: translateX(500%) scale(5);
    }
  }

  .cloud-top-one {
    animation: moveOne 9s forwards, opacity 20s forwards;
  }

  .cloud-top-two {
    animation: moveTwo 12s forwards, opacity 20s forwards;
  }

  .cloud-bottom-three {
    animation: moveThree 12s forwards, opacity 20s forwards;
  }

  .cloud-bottom-four {
    animation: moveFour 9s forwards, opacity 20s forwards;
  }
}

/* Mid =============================================================== */
@media (min-width: 641px) and (max-width: 1280px) {
  @keyframes moveOne {
    from {
      transform: translateX(-50%) scale(1.5);
    }

    to {
      transform: translateX(-800%) scale(3);
    }
  }

  @keyframes moveTwo {
    from {
      transform: translateX(-90%) scale(2);
    }

    to {
      transform: translateX(800%) scale(4);
    }
  }

  @keyframes moveThree {
    from {
      transform: translateX(-100%) scale(3.75);
    }

    to {
      transform: translateX(-800%) scale(4.5);
    }
  }

  @keyframes moveFour {
    from {
      transform: translateX(-20%) scale(4);
    }

    to {
      transform: translateX(800%) scale(5);
    }
  }

  @keyframes opacity {
    from {
      opacity: 100%;
    }

    to {
      opacity: 0%;
    }
  }

  .cloud-top-one {
    animation: moveOne 13s forwards;
  }

  .cloud-top-two {
    animation: moveTwo 13s forwards;
  }

  .cloud-bottom-three {
    animation: moveThree 16s forwards;
  }

  .cloud-bottom-four {
    animation: moveFour 16s forwards;
  }
}
