.teste {
  width: 275px;
  height: 75px;
  position: fixed;
  /* Adiciona uma transição suave */
  transition: transform 0.7s ease-in-out;
}

.cloud-type-1 {
  position: relative;
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 100px;
}

.cloud-type-1::before {
  content: "";
  position: absolute;
  top: -50px;
  left: 40px;
  width: 110px;
  height: 100px;
  background: white;
  border-radius: 50%;
  box-shadow: 90px 0 0 0px white;
}

.cloud-type-2 {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgb(233, 233, 233);
  border-radius: 100px;
}

.cloud-type-2::before {
  content: "";
  position: absolute;
  top: -50px;
  left: 40px;
  width: 110px;
  height: 100px;
  background: rgb(233, 233, 233);
  border-radius: 50%;
  box-shadow: 90px 0 0 0px rgb(233, 233, 233);
}

/* Posições iniciais das nuvens */
.cloud-top-one {
  top: 200px;
  left: 400px;
}

.cloud-top-two {
  top: 300px;
  right: 450px;
}

.cloud-bottom-three {
  bottom: 125px;
  left: 100px;
}

.cloud-bottom-four {
  bottom: 100px;
  right: 200px;
}

/* Animações */
@keyframes moveOne {
  from {
    transform: translateX(0) scale(1.5);
  }
  to {
    transform: translateX(-650%) scale(3);
  }
}

@keyframes moveTwo {
  from {
    transform: translateX(0) scale(2);
  }
  to {
    transform: translateX(500%) scale(4);
  }
}

@keyframes moveThree {
  from {
    transform: translateX(0) scale(3.75);
  }
  to {
    transform: translateX(-550%) scale(4.5);
  }
}

@keyframes moveFour {
  from {
    transform: translateX(0) scale(4);
  }
  to {
    transform: translateX(500%) scale(5);
  }
}

/* Aplica animações às nuvens */
.cloud-top-one {
  animation: moveOne 7.5s forwards;
}

.cloud-top-two {
  animation: moveTwo 6.5s forwards;
}

.cloud-bottom-three {
  animation: moveThree 5s forwards;
}

.cloud-bottom-four {
  animation: moveFour 4s forwards;
}
