.cloud-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
  position: absolute;
  padding-top: 35px;
  top: 0;
  left: 0;
  z-index: 10;
  overflow-x: hidden;
}

.cloudy-1 {
  width: 180px;
  height: 140px;
  display: inline-block;
  margin: 0 auto 20px;
  background-image: radial-gradient(
      circle 25px at 25px 25px,
      rgb(233, 233, 233) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 50px at 50px 50px,
      rgb(233, 233, 233) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 25px at 25px 25px,
      rgb(233, 233, 233) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 15px at 15px 15px,
      rgb(233, 233, 233) 100%,
      transparent 0
    ),
    linear-gradient(rgb(233, 233, 233) 50px, transparent 0);
  background-size: 50px 50px, 100px 75px, 50px 50px, 30px 32px, 136px 20px;
  background-repeat: no-repeat;
  background-position: 0px 30px, 30px 0px, 113px 29px, 147px 50px, 23px 60px;
  position: relative;
  box-sizing: border-box;
  transform: scale(1.4);
}

.cloudy-1::after {
  content: "";
  position: absolute;
  left: 2px;
  top: 65px;
  width: 2px;
  height: 6px;
  color: #fff;
  box-sizing: border-box;
}

.cloudy-2 {
  width: 180px;
  height: 140px;
  display: inline-block;
  margin: 0 auto 20px;
  background-image: radial-gradient(
      circle 25px at 25px 25px,
      #fff 100%,
      transparent 0
    ),
    radial-gradient(circle 50px at 50px 50px, #fff 100%, transparent 0),
    radial-gradient(circle 25px at 25px 25px, #fff 100%, transparent 0),
    radial-gradient(circle 15px at 15px 15px, #fff 100%, transparent 0),
    linear-gradient(#fff 50px, transparent 0);
  background-size: 50px 50px, 100px 75px, 50px 50px, 30px 32px, 136px 20px;
  background-repeat: no-repeat;
  background-position: 0px 30px, 30px 0px, 110px 19px, 147px 50px, 23px 60px;
  position: relative;
  box-sizing: border-box;
  transform: scale(1.3);
}

.cloudy-2::after {
  content: "";
  position: absolute;
  left: 2px;
  top: 65px;
  width: 2px;
  height: 6px;
  color: #fff;
  box-sizing: border-box;
}

.cloudy-1,
.cloudy-2 {
  margin: 0 10px;
}
