.sun {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: rgb(255, 230, 0);
  box-shadow: 0 0 60px 25px rgb(255, 255, 141), 0 0 25px 10px;
  border-radius: 100%;
}

.sun-top {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
